body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0056b3;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #0084ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

@media (max-width: 600px) {
    header, footer {
        text-align: center;
    }
    nav ul {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
    }
    input[type="text"] {
        width: 75%;
    }
}
