<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>

<body>
    <header>
        <h1>Travel App</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Welcome to the Travel App</h2>
            <p>Discover weather, images, and geographical data for your next destination.</p>

            <div>
                <input type="text" id="locationInput" placeholder="Enter a location">
                <input type="date" id="tripDate">
                <button id="findTripButton">Find Trip</button>
            </div>
            <div id="locationResult"></div>
            <div id="weatherResult"></div>
            <img id="imageResult" >
        </section>

        <section id="about">
            <h2>About This App</h2>
            <p>This app provides comprehensive travel information to assist with your travel planning.</p>
        </section>
    </main>
    <footer>
        <p>Oraib Sleet © 2024 Travel App</p>
    </footer>
    <script type="module">

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                }).catch((error) => {
                    console.log('Service Worker registration failed:', error);
                });
            });
        }
    </script>
    
    <script src="bundle.js"></script>
</body>

</html>